/* http://www.color-hex.com/color-palette/185 */
/*
#3b5998	(59,89,152)
#8b9dc3	(139,157,195)
#dfe3ee	(223,227,238)
#f7f7f7	(247,247,247)
#ffffff (255,255,255)
*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #777;
  margin: 0;
  padding: 0;
}

nav {
  padding: 5px;
  background-color: #8b9dc3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: #8b9dc3;
}

.menu li {
  background-color: #3b5998;
  margin-right: 10px;
  display: inline-block;
  padding: 4px;
  border-radius: 5px;
}

.menu li a {
  color: #f7f7f7;
}

header h1 {
  color: #f7f7f7;
  background-color: #dfe3ee;
  padding: 10px;
  margin-top: 0;
  text-align: center;
  text-shadow:
    0px 1px 7px rgba(0,0,0,0.4),
    8px 0px 10px rgba(0,0,0,0.1),
    -8px 0px 10px rgba(0,0,0,0.1);
  font-weight: bold;
  font-size: 3rem;
}

footer {
  padding: 5px;
  background-color: #3b5998;
  color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer span.divider {
  padding: 4px;
}

footer span.item {
  padding: 4px;
  color: #dfe3ee;
}

footer span.item a {
  color: #dfe3ee;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

article {
  min-height: 200px;
  max-height: 400px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.panel-box {
  background-color: #f7f7f7;
  border: 1px solid #8b9dc3;
  border-radius: 3px;
  color: #ffffff;
  padding: 0;
  margin: 0rem 0rem 1.625rem;
  position: relative;
  width: 100%;
}
