#contact-edit {
    display: none;
}

.contact-edit {
    max-height: 80vh;
}

.contact-edit__text {
    font-size: 0.7rem;
}

.contact-edit__body {
    margin: 15px;
    max-height: 60vh;
    overflow-y: auto;
}

@media screen and (min-width: 520px) and (orientation: landscape) {
    .contact-edit__body {
        max-height: 48vh;
    }
}


@media screen and (min-width: 520px) and (min-height: 520px) {
    .contact-detail__text {
        font-size: 1rem;
    }

    .contact-edit__body {
        max-height: inherit;
        overflow-y: inherit;
    }
}

.contact-edit__field {
    display: flex;
    flex-direction: column;
}

.contact-edit__field label {
    margin: 8px 1px 3px 8px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.contact-edit__input,
.contact-edit__select {
    margin: 3px 1px 3px 5px;
}

@media screen and (min-width: 520px) and (min-height: 520px) {
    .contact-edit__field {
        flex-direction: row;
    }

    .contact-edit__field label {
        width: 30%;
        text-align: right;
    }

    .contact-edit__input,
    .contact-edit__select {
        width: 70%;
    }
}

.contact-edit__input input[type=text],
.contact-edit__input textarea {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 3px 8px;
    border: 1px solid rgba(192,214,228,1);
    color: #191970;
    outline: none;
}

@media screen and (min-width: 520px) and (min-height: 520px) {
    .contact-edit__input input[type=text],
    .contact-edit__input textarea,
    .contact-edit__select select {
        margin: 2px;
    }
}

.contact-edit__input input[type=text]:focus,
.contact-edit__input textarea:focus {
    margin: 0;
    border: 3px solid rgba(192,214,228,1);
    box-shadow: 0 0 5px rgba(192,214,228,1);
}

.contact-edit__select select {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 3px 0px 3px 3px;
    border: 1px solid rgba(192,214,228,1);
    color: #191970;
    outline: none;
    background-color: white;
}

.contact-edit__select select:focus {
    border: 3px solid rgba(192,214,228,1);
    box-shadow: 0 0 5px rgba(192,214,228,1);
}

.error-label {
    font-size: 0.8rem;
    color: #fa8072;
    padding-left: 3px;
}

.contact-edit__input input[type=text].error,
.contact-edit__input textarea.error {
    border: 1px solid #fa8072;
}

.contact-edit__input input[type=text]:focus.error,
.contact-edit__input textarea:focus.error {
    margin: 0;
    border: 3px solid #fa8072;
    box-shadow: 0 0 5px rgba(192,214,228,1);
}

.contact-edit__button--submit {
    background-color: #c0d6e4;
    color: #191970;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 10px;
    float: right;
    box-shadow:
        0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12),
        0 3px 1px -2px rgba(0,0,0,0.2);
}

.contact-edit__button--submit:focus {
    outline:0;
}

.contact-edit__button--submit:hover {
    box-shadow:
        0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12),
        0 3px 1px -1px rgba(0,0,0,0.2);
}
