.popup {
    background-color: rgba(255,255,255,0.98);
    padding: 12px;
    margin: 12px;
    display: block;
    border-radius: 2px;
    box-shadow: 0px 0px 16px 0px rgba(3, 3, 3, 0.6);
    position: fixed;
    width: 450px;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align: -webkit-center;
}

.link-box__input {
    display: block;
    text-align: right;
}
