/* http://www.color-hex.com/color-palette/185 */
/*
#3b5998	(59,89,152)
#8b9dc3	(139,157,195)
#dfe3ee	(223,227,238)
#f7f7f7	(247,247,247)
#ffffff (255,255,255)
*/

:root {
  --color-white: #ffffff;
  --color-gray--light: #f7f7f7;
  --color-blue--light: #dfe3ee;
  --color-blue--medium: #8b9dc3;
  --color-blue--medium-op: rgba(139,157,195,0.8);
  --color-blue: #3b5998;
  --color-blue--opacity: rgba(59,89,152,0.7);
  --color-gray: #777;
  --color-black: #1c1c1c;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "our_font_regular";
  font-size: 16px;
  background-color: var(--color-white);
  color: var(--color-gray);
  margin: 0;
  padding: 0;
}

nav {
  padding: 5px;
  background-color: var(--color-blue--medium);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background-color: var(--color-blue--medium);
}

.menu li {
  background-color: var(--color-blue);
  margin-right: 10px;
  display: inline-block;
  padding: 4px;
  border-radius: 5px;
}

.menu li a {
  color: var(--color-gray--light);
}

footer {
  padding: 5px;
  background-color: var(--color-blue);
  color: var(--color-gray--light);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer span.divider {
  padding: 4px;
}

footer span.item {
  padding: 4px;
  color: var(--color-blue--light);
}

footer span.item a {
  color: var(--color-blue--light);
}

/* grid */
.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.flag-new::before {
  content: "New!";
  background-color: #087f23;
  position: absolute;
  top: -.8rem;
  left: -.8rem;
  padding: .3rem .5rem;
  display: inline-block;
  color: #fff;
  font-weight: both;
  transform: rotate(-20deg);
}
.panel-box {
  background-image: url(../img/tiny_grid.png);
  background-color: var(--color-gray--light);
  border: 1px solid var(--color-blue--medium);
  border-radius: 3px;
  color: var(--color-white);
  padding: 0;
  margin: 0rem 0rem 1.625rem;
  position: relative;
}
.panel-box article {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  height: 100%;
  min-height: 300px;
}

.panel-box.panel-box--hero {
  background-image: url(../img/inflicted.png);
  background-color: var(--color-gray);
  color: var(--color-white);
  padding: 1rem;
}
.panel-box.panel-box--hero article {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  height: 100%;
  min-height: 300px;
}
@media screen and (min-width: 1024px) {
  .panel-box.panel-box--hero article {
    background-position-x: initial;
    flex-direction: row;
    flex-flow: row-reverse;
  }
}

.panel-title {
  width: 100%;
  padding: 1em;
  background-color: var(--color-blue--opacity);
}
.panel-title h2,
.panel-title p {
  margin: 0 0 0.2em 0;
}
@media screen and (min-width: 1024px) {
  .panel-box--hero .panel-title {
    width: 33%;
  }
}

.panel-box.panel-box--add {
  background-image: none;
  background-color: var(--color-blue--medium);
  color: var(--color-black);
  padding: 1rem;
  position: relative;
}


@media screen and (min-width: 640px) {
  .home-layout {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
  }
  .home-layout .panel-box {
    grid-column: auto / span 2;
  }
  .home-layout .panel-box--hero {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .home-layout .panel-box--add {
    grid-column: 1 / -1;
  }
  .home-layout .panel-c,
  .home-layout .panel-d {
    grid-column: auto / span 3;
  }
  .home-layout .panel-g {
    grid-column: auto / span 1;
  }
  .home-layout .panel-i {
    grid-column: 1 / -1;
  }
}
