html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    display: block;
}
