$shadow-glass: 0px 0px 6px 0px rgba(3, 3, 3, 0.2);
$shadow-box: 3px 2px 6px 0px rgba(3, 3, 3, 0.2);
$shadow-picture: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
$shadow-table: 2px 2px 5px 0px rgba(50, 50, 50, 0.25);
$shadow-table-caption: 3px 1px 5px 0px rgba(50, 50, 50, 0.25);

$c-glass: rgba(255,255,255,0.3);
$c-black: #333;
$c-light-black: #444;
$c-white: #f2f2f2;
$c-light-gray: #f5f5f5;
$c-gray: #ededea;
$c-dark-gray: #e4e4e4;
$c-light-blue: #518eff;
$c-bright-red: #e4002c;

$box-size: 360px;
$box-size-43: 270px;
$box-size-169: 203px;
